.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*font-size: calc(10px + 2vmin);*/
}

.app-header {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem;
  flex-shrink: 0;
}

.app-pages {
  flex: 1;
  padding: 1rem;
}

