.appPageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.appPage {
  display: flex;
  flex-direction: column;
}

.appPageHeader {
  background-color: #D4D4D5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem;
  flex-shrink: 0;
}

.appPageHeader-link,
.appPageHeader-link:hover,
.appPageHeader-link:visited {
  color: inherit;
}

.appPageContent {
  flex: 1;
  padding: 1rem;
}

.ui.button svg {
  height: 1em;
  width: 1em;
}

.ui.list > .item .header {
  margin-bottom: 0.25rem;
}

.item .ui.label > .icon,
.item .ui.label > .detail > .icon,
.memberDetail .ui.label > .icon,
.memberDetail .ui.label > .detail > .icon {
  margin-right: 0;
  margin-left: .5em;
}

.ui.label.iconOnly > .icon {
  margin-right: 0 !important;
  margin-left: 0 !important;;
}

.description > .ui.label {
  margin: .15em;
}

.u-flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.u-flex-row {
  display: flex !important;
  flex-direction: row;
}

.u-flex-center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.u-flex-row-around {
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

.u-relative {
  position: relative;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-clear-both {
  clear: both;
}

.u-pointer {
  cursor: pointer;
}

.u-margin-none {
  margin: 0 !important;;
}

.u-margin-top-tiny {
  margin-top: .25rem;
}

.u-text-center {
  text-align: center !important;
}

.u-line-through {
  text-decoration: line-through;
}

.memberDetail {
  margin: 0.5rem;
}

.memberDetail .ui.label > .detail {
  opacity: 1;
}

.u-flex-wrap .memberDetail {
  margin: 0.25rem;
}

.ui.divider.small {
  margin: .5rem 0;
}

.ui.divider.tiny {
  margin: .25rem 0;
}

.u-visibility-hidden {
  visibility: hidden;
}

.editableNameHeader {
  height: 4rem;
  align-items: center;
  margin-bottom: 1rem;
}

.groupNameHeader {
  align-items: center;
}

.u-align-center {
  align-items: center;
}

.u-align-center.ui.form .field {
  margin: 0;
}

.groupNameHeader .header,
.editableNameHeader .header {
  margin: 0;
}

.editableNameHeader .header .icon {
  margin-bottom: 5px;
}

.qrCodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.myGroups-group {
  display: block;
}

.u-font-smaller {
  font-size: .85em;
}

.ui.inverted.dimmer {
  background-color: white;
}

.icon.listDragHandle {
  margin-top: 10px;
}

.gamesTable i.icon {
  margin: 0;
}

.gamesTable-cell--isRe {
  position: relative;
  overflow: hidden;
}


.gamesTable-cell-re {
  position: absolute;
  top: 2px;
  right: -5px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 6px;
  transform: rotate(45deg);
  line-height: 6px;
  width: 20px;
}

.gamesTable-cell-gameIndicators {
  position: absolute;
  top: -2px;
  left: 1px;
  white-space: nowrap;
}

.gamesTable.ui.table > thead > tr > th,
.gamesTable.ui.table > tbody > tr > td,
.gamesTable.ui.table > tr > td {
  padding-left: .5em;
  padding-right: .5em;
}


#dragItemListContainer {
  margin: 0;
}

.ui.checkbox label.inverted,
.ui.checkbox + label.inverted {
  color: rgba(255, 255, 255, .87);
}

.ui.checkbox input:focus ~ label.inverted {
  color: rgba(255, 255, 255, .95);
}

.pointsGroup.ui.labels > .label {
  margin: .25em !important;
}

.pointsGroup.ui.labels > .label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointsGroup.ui.labels > .label.range {
  font-size: 0.7rem;
}

.ui.grid.tinyVertical > .column:not(.row) {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.ui.grid.tinyVertical > .row {
  padding-top: 0;
  padding-bottom: 0;
}

.grid-table {
  display: grid;
  border: 1px solid rgba(34, 36, 38, .15);
}

.grid-table-th,
.grid-table-td {
  padding: .78571429em .5em;
  border-top: 1px solid rgba(34, 36, 38, .1);
}

.grid-table-th {
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 2;
}

.grid-table-td {
  position: relative;
}

.grid-table-td.topBorder {
  border-top: 1px solid black !important;
}

.grid-table-td.won {
  box-shadow: inset 0 0 0 #a3c293;
  background: #fcfff5;
  color: #2c662d;
}

.grid-table-td.lost {
  box-shadow: inset 0 0 0 #e0b4b4;
  background: #fff6f6;
  color: #9f3a38;
}

.grid-table-td.selected {
  background: #DFF0FF;
}

.pushable > .pusher {
  overflow: visible;
}

.statisticsTable .grid-table-td {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statisticsTable .grid-table-th.isYou,
.statisticsTable .grid-table-td.isYou {
  color: #1e77ba;
  font-weight: bold;
}

.statisticsTable .grid-table-td .won {
  color: #1aa62a;
}

@media only screen and (max-width: 767.98px) {
  .ui.selection.dropdown .menu {
    max-height: 15rem;
  }
}
