.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #D4D4D5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem;
  flex-shrink: 0;
}

.app-pages {
  flex: 1;
  padding: 1rem;
}

.ui.button svg {
  height: 1em;
  width: 1em;
}

.ui.list > .item .header {
  margin-bottom: 0.25rem;
}

.group-members .ui.label > .close.icon, .ui.label > .icon {
  margin-right: 0;
  margin-left: .5em;
}

.u-flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.u-pointer {
  cursor: pointer;
}
